<div class="modal fade" id="email-modal-form-content" role="dialog">
    <div class="modal-dialog modal-sm"> 
    
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="Taxworld-Subhead" style="color: #3262a0">Share this page</h3>
        </div>

        <div class="modal-body ">
          <%= simple_form_for @share_form, :html => {:class => 'form-horizontal', :style=>'width:15%' } do |f| %>
            <p><%= f.input :name, :required => true%></p>
            <p><%= f.input :email, :required => true %></p>
            <p><%= f.input :message, :as => :text, :required => true %></p>

            <div>
              </br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
              </div>
          <% end %>
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>