

<p>
  <strong>Title:</strong>
  <%= @share_modal.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @share_modal.content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @share_modal.slug %>
</p>

<%= link_to 'Edit', edit_share_modal_path(@share_modal) %> |
<%= link_to 'Back', share_modals_path %> | 
<a data-toggle="modal" href="#email-modal-form-content" class=" email_share_button">Share</a> 

<div class="modal fade" id="email-modal-form-content" role="dialog">
    <div class="modal-dialog modal-sm"> 
    
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="Taxworld-Subhead" style="color: #3262a0">Share this page</h3>
        </div>

        <div class="modal-body ">
          <form action="<?php the_permalink(); ?>" method="post" role="form" id="shareForm">
      <div class="email-modal-form-group <?php echo $required;?>">
        <label for="name">Your Name:<small><span class="text-danger"><?php echo $field;?></span></small></label>
        <input type="text" class="form-control name" name="contact_name" id="name" placeholder="Name"  value="<%= current_user.name%>" readonly required>
      </div>

      <div class="email-modal-form-group <?php echo $required;?>">
        <label for="email">Email:<sup>*</sup> <small><span class="text-danger"><?php echo $field;?></small></label>
        <input type="email" class="form-control email" name="contact_email" id="email" placeholder="Email" required>  
      </div>

      <div class="email-modal-form-group <?php echo $required;?>">
        <label for="message">Message:<small><span class="text-danger"><?php echo $field;?></small></label>
        <textarea class="form-control message" name="contact_message" rows="5" id="message" placeholder="Message" required readonly></textarea>
      &nbsp;
      </div>
     <div class="email-modal-form-group">
      <p><button class="btn btn-primary" type="submit" form="shareForm" value="Submit" name="share_page_button" >Share</button></p>
      </div>
    </form>
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script type="text/javascript">
jQuery(document).ready(function($) {
  $('div').find('a:contains("Contact")').addClass("taxworld-active");
  $(document).ready(function () {
    $(".email_share_button").click(function(){
      var link = $(location).attr('href');
      $("#message").val(link);
    });          
  });
});
</script>
