<p>
  <strong>Title:</strong>
  <%= @share_modal.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @share_modal.content %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @share_modal.slug %>
</p>

<%= link_to 'Edit', edit_share_modal_path(@share_modal) %> |
<%= link_to 'Back', share_modals_path %> | 
<%= link_to 'Share', share_form_path, {:class => "body_inner_icon", 'data-target' => "#email-modal-form-content", 'data-toggle' => "modal"}%>
<!-- <a data-toggle="modal" href="#email-modal-form-content" class=" email_share_button">Share</a> 
 -->


<script type="text/javascript">
jQuery(document).ready(function($) {
  $('div').find('a:contains("Contact")').addClass("taxworld-active");
  $(document).ready(function () {
    $(".email_share_button").click(function(){
      var link = $(location).attr('href');
      $("#message").val(link);
    });          
  });
});
</script>
